.header{
    background: #1f509e;
    background: linear-gradient(135deg, #1f509e 0%, #1b1764 100%);
    height: 100vh;
    margin: 0 auto;

}
.snowfall {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/snowfall.png);
    opacity: 0.1;
}

.snow1 {
    background: url(../img/snow1.png) repeat center top;
    height: 114px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 2;
}

.snow2 {
    background: url(../img/snow2.png) repeat center top;
    height: 114px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: slategrey;
}

.santa {
    background: url(../img/santa1.png) no-repeat center top;
    height: 440px;
    width: 700px;
    position: absolute;
    top:450px;
    left: 50%;
    margin-left: -350px;
    z-index: 1;
}

.ball {
    background: url(../img/ball.png) no-repeat center top;
    width: 1516px;
    height: 820px;
    position: absolute;
    left: 50%;
    margin-left: -758px;
    bottom: 0;
}
.moon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 100px;
    background-color: #ffffaa;
    border-radius: 50%;
    box-shadow: 0 0 40px #ffffaa;
}

.stars {
    position: absolute;
    width: 100%;
    height: 50%;
}

.star {
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #fff71f;
    box-shadow: 0 0 10px 2px white;
}

.star:nth-child(1) {top: 1%;left: 80%;}
.star:nth-child(2) {top: 15%;left: 60%;}
.star:nth-child(3) {top: 23%;left: 50%;}
.star:nth-child(4) {top: 9%;left: 44%;}
.star:nth-child(5) {top: 17%;left: 90%;}
.star:nth-child(6) {top: 11%;left: 55%;}
.star:nth-child(7) {top: 16%;left: 10%;}
.star:nth-child(8) {top: 21%;left: 15%;}
.star:nth-child(9) {top: 20%;left: 30%;}
.star:nth-child(10) {top: 29%;left: 58%px;}
.star:nth-child(11) {top: 4%;left: 34%;}
.star:nth-child(12) {top: 34%;left: 85%;}
.star:nth-child(13) {top: 29%;left: 95%;}
.star:nth-child(14) {top: 16%;left: 91%;}

.meteors {
    position: absolute;
    width: 100%;
    height: 100%;
}
.meteor {
    position: absolute;
    top: 50px;
    left: 280px;
    width: 300px;
    height: 1px;
    -webkit-transform: rotate(-45deg);
    background-image: -webkit-linear-gradient(left, white, rgba(255,255,255,0));
}
.meteor:before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 14px 4px white;
    margin-top: -2px;
}
@-webkit-keyframes meteor {
    0% {margin-top: -300px; margin-right: -300px; opacity: 1}
    8% {opacity: 0}
    10% {margin-top: 300px; margin-left: -600px; opacity: 0}
    100% {opacity: 0}
}
.meteor:nth-child(1) {top: 100px;left: 1500px;-webkit-animation: meteor 10s linear infinite;}
.meteor:nth-child(2) {top: 250px;left: 790px;-webkit-animation: meteor 39s linear infinite;}
.meteor:nth-child(3) {top: 190px;left: 80px;-webkit-animation: meteor 19s linear infinite;}
